<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hospital Management System</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/admin/admin_base">Admin </a></li>
            <li><a href="/doctor/doctor_base">Doctor </a></li>
            <li><a href="{{ url_for('main.patient_options') }}">Patient</a></li>
        </ul>
    </nav>
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
    <script src="/static/js/script.js"></script>
</body>
</html>
